{% extends "blog/base.html" %}

{% block content %}
<div class="container mt-4">
    {% for post in posts %}
        <div class="card hoverable mb-4"> <!-- Using hoverable Materialize card -->
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <!-- Post metadata -->
                        <span class="card-title">
                            <a href="#" class="deep-purple-text darken-1">{{ post.title }}</a>
                        </span>
                        <p class="grey-text">
                            <i class="material-icons tiny">person</i> by <a href="#" class="pink-text lighten-1">{{ post.author }}</a>
                            <span class="right"><i class="material-icons tiny">event</i> {{ post.date_posted|date:"F d, Y" }}</span>
                        </p>
                    </div>
                </div>
                <p>{{ post.content|truncatewords:30 }}</p> <!-- Truncated text for preview -->
            </div>
            <div class="card-action">
                <a href="#" class="waves-effect waves-light btn pink lighten-2">Read more</a> <!-- Materialize styled button -->
            </div>
        </div>
    {% empty %}
        <p class="center-align">No posts are available.</p> <!-- Centered text for no posts -->
    {% endfor %}
</div>
{% endblock content %}
