{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card">
                <form method="POST" class="card-content">
                    {% csrf_token %}
                    <span class="card-title" style="color: #005f73;">Join Today</span>
                    {{ form|crispy }}
                    <div class="card-action">
                        <button class="btn waves-effect waves-light" type="submit" style="background-color: #ffb3c1; color: white;">Sign Up
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="center-align mt-2">
                <small>
                    Have an Account? <a href="{% url 'login' %}" style="color: #005f73;">Sign In</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
