{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mx-auto mt-4 px-4">
    <div class="max-w-sm mx-auto">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <form method="POST">
                {% csrf_token %}
                <h2 class="block text-center text-2xl font-bold mb-6" style="color: #005f73;">Join Today</h2>
                {{ form|crispy }}
                <div class="flex items-center justify-center mt-4">
                    <button class="btn waves-effect waves-light" type="submit" style="background-color: #ffb3c1;">
                        Register
                        <i class="material-icons right">create</i>
                    </button>
                </div>
            </form>
        </div>
        <p class="text-center mt-2">
            Have an account? <a href="{% url 'login' %}" class="text-blue-500">Sign in</a>
        </p>
    </div>
</div>
{% endblock %}
